{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col card border-dark mb-3 p-0">
      <div class="card-header">
        お願い
      </div>
      <div class="card-body">
        <ul class="card-text">
          <li>招待状を作る際、選ばれなかった人へのメッセージを任意で入力することができますが、わざと人を傷つけるような表現は避けてください。このアプリはコミュニケーションが得意でない人たちが安心して使えるように作ったものですので、ご協力をお願いいたします。</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col card border-dark mb-3 p-0">
      <div class="card-header">
        このアプリの権限について
      </div>
      <div class="card-body">
        <ul class="card-text">
          <p>ログイン時、アプリの権限として以下のことができると表示されますが、それはTwitterの仕様で権限が細かく設定されない為です。<br>実際は次の通りです。</p>
          <li>相互フォローの人を確認する為、フォローしている人を見ます。</li>
          <li>招待状を作成する際、任意の文章＋アプリのURLでツイートをします。</li>
          <li>タイムラインのツイートを見ません。</li>
          <li>勝手にこのアプリが新しくフォローをすることはありません。</li>
          <li>同じく勝手にプロフィールを更新することはありません。</li>
          <li>結果を伝えるためダイレクトメッセージを送ることがありますが、既存のダイレクトメッセージを見ることはありません。</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <!-- <div class="col card border-dark mb-3 p-0">
        <div class="card-body"> -->
          <ul class="card-text list-group">
            <li class="list-group-item list-group-item-primary">結果はどんな風にわかるの？</li>
            <li class="list-group-item list-group-item-light"><b>誘いをかけた側</b>は、会いたいリストに入れておいた人から会いたいと思われた場合Twitterのダイレクトメッセージで結果が届きます。また、トップページの「招待の状況を確認する」ボタンからも状態を確認することができます。<strong>相手も会いたいと思っていることがわかれば、DM等で詳細を決めてください。</strong></li>
            <li class="list-group-item list-group-item-light"><b>誘いに乗る側</b>は、トップページの「招待状のある相互フォロワーを見る」を押し、次の画面で「この人に会いたい」ボタンを押せばすぐに結果が画面に表示されます。自分が相手の会いたいリストに載っていれば、それと同時に自分から相手にTwitterのダイレクトメッセージ（◯◯さんもあなたに会いたがっています！という文言）が送られます。<strong>相手からのレスポンスを待つのもいいですが、こちらから詳細を決める連絡をしてみるのも良いでしょう。</strong></li>
            <li class="list-group-item list-group-item-primary">招待リストに人を追加したい・招待リストから人を削除したい</li>
            <li class="list-group-item list-group-item-light">招待リストの編集機能はありません。一度招待状を破棄し、もう一度最初から招待状を作成してください。</li>
            <li class="list-group-item list-group-item-primary">アイコンが消えることがある</li>
            <li class="list-group-item list-group-item-light">名前やアイコンはデータ取得のタイミングにより変更に対応しきれないことがあります。今後改善していく予定です。</li>
            <li class="list-group-item list-group-item-primary">招待状を作成するのに時間がかかる</li>
            <li class="list-group-item list-group-item-light">フォロワーが多い人はデータを取得するのに時間がかかります。少しお待ちいただけると幸いです。</li>
          </ul>
        <!-- </div>
      </div> -->
    </div>
  </div>
</div>





{% endblock %}
