{% extends "layout.html" %}
{% block content %}

{% if login_status == "not_logged_in" %}
    <p>招待に乗るにはボタンをクリックしてTwitterにログインしてください</p>
    <form class="" action="/twitter/request_token" method="GET">
      <button type="submit" class="btn">ログインする</button>
    </form>

{% else %}

  {% if result_wanna_meet != None %}
    <p>{{host_user_name}}さんはあなたに会いたいそうです。{{host_user_name}}さんにDMを送信しました。</p>

  {% else %}
  <div class="container">
    <div class="row">
      <div class="col">
        <p>残念ながら今回あなたはリストに載っていませんでした。この結果が{{host_user_name}}さんに知られることはありません。</p>
        <p>[メッセージ]</p>
        <p>{{ decline_message }}</p>
      </div>
    </div>
  </div>
  {% endif %}
{% endif %}

{% endblock %}
