{% extends "layout.html" %}

{% block content %}

<!-- mutual_listはname, screen_name, iconのURL, user_id -->
{% for name, screen_name, icon_url, user_id in mutual_list %}
<div class="user_info">
  <img src="{{icon_url}}" alt="">
  name: {{name}}(<a href="https://twitter.com/intent/user?screen_name={{screen_name}}">@{{screen_name}}</a>)
</div>
<div class="user_select_button">
  <form action="/message_and_date" method="POST">
    <input type="checkbox" name="user_select" value="{{user_id}}">

  </div>
  {% endfor %}
  <input type="submit" name="submit" value="送信">

{% endblock %}
