{% extends "layout.html" %}
{% block content %}


<div class="container my-5">
  <!-- <div class="row">
    {% for error in form.invite_message.errors %}
      <span style="color: red;">{{ error }}</span>
    {% endfor %}
  </div> -->
  <div class="row">
    <div class="col card mb-3  px-0">
      <h4 class="card-header mb-1">選択したフォロワー</h4>
      <!-- {{info_added_followers}} -->
      {% for name, screen_name, icon_url, user_id in info_added_followers %}
        <div class="mb-2 user_info card-text px-2">
          <img src="{{icon_url}}" alt="">
          {{name}}(<a href="https://twitter.com/intent/user?screen_name={{screen_name}}">@{{screen_name}}</a>)
        </div>

      {% endfor %}
    </div>
    <div class="col-md-6 px-0">
      <form action="/message_confirmation" method="post" class="form-group">
          {{ form.hidden_tag() }}


        <div class="col card mb-3 px-0">
          <h4 class="card-header mb-1">日付をクリックして締切日時を選ぶ</h4>
          <input class="calendar" name="calendar" id="calendar" type="text">
        </div>

        <div class="col card mb-3 px-0">
          <h4 class="card-header mb-1">140字以内で招待メッセージを入力してください。</h4>
          <span class="count ml-3">0</span>
          {{ form.invite_message(size=110, placeholder="ここにメッセージを入力",  default=session["invite_message"], class_="invite_message form-control")}}
        </div>

        <div class="col card mb-3 px-0">
          <h4 class="card-header mb-1">選択しなかったユーザーへのメッセージ（任意）</h4>
          {{ form.decline_message(size=110, placeholder="選択しなかったフォロワー宛てにメッセージを表示させることができます",  default=session["decline_message"], class_="message_form form-control")}}
        </div>

      <div class="row justify-content-end m-auto">
        {{ form.submit( class="btn btn-outline-primary mr-2") }}
      </div>
    </form>
    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  // if (document.getElementById("#calendar").value){
  //    var default_date = document.getElementById("#calendar").value;
  // } else {
  //   var default_date = "today"
  // };
  // var default_date = "today";
  // if (document.getElementById("#calendar").value){
  //   window.sessionStorage.setItem([default_date],[document.getElementById("#calendar").value]);
  //   var default_date = window.sessionStorage.getItem([default_date]);
  // } else {
  //   var default_date = "today"
  // };

  const config = {
    minDate: "today",
    defaultDate: "today"
    // defaultDate: default_date
  };
  flatpickr('#calendar', config);
</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type=text/javascript src="/static/main.js"></script>

<!-- 文字数カウンター -->
<script type="text/javascript">
$(function(){
    $('.invite_message').bind('keydown keyup keypress change',function(){
        var thisValueLength = $(this).val().length;
        $('.count').html(thisValueLength);
    });
});
</script>


{% endblock %}
