{% extends "layout.html" %}
{% block content %}

<form class="confirmation" action="/message_posting" method="post">

  <h3>選択したフォロワー</h3>
  {% for name, screen_name, icon_url, user_id in info_added_followers %}

    <div class="user_info">
      <img src="{{icon_url}}" alt="">
      {{name}}(<a href="https://twitter.com/intent/user?screen_name={{screen_name}}">@{{screen_name}}</a>)
    </div>

  {% endfor %}
  <h3>Twitterに投稿するメッセージ</h3>
    {{ invite_message }}<br>
  <h3>選択した締切日</h3>
    {{ selected_date }}<br>
  <h3>選択しなかったフォロワーに表示されるメッセージ</h3>
    {{ decline_message }}<br>

  <input type="submit" class="btn btn-outline-primary" name="tweet" value="ツイートする">
</form>

<!-- <form class="" action="/remove_messages" method="post">
  <input type="submit" name="go_back" value="やり直す">
</form> -->


{% endblock %}
