{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>プライバシーポリシー</h1>
        <p class="invisible"></p>

        <h2>Cookieの利用について</h2>
        <ul>
          <li>Cookieは、当サイトや他サイトへのアクセスに関する情報が含まれており、多くのサイトで利用者に有益な機能を提供する目的で使用されています。Cookieには、サイト利用者の個人情報（氏名、住所、メールアドレス、電話番号）は一切含まれません。</li>
          <!-- <li>当サイトは、第三者配信事業者（Google AdSense、Amazonアソシエイト、楽天アフィリエイト、A8.net）がCookie を使用して、サイト利用者が当サイトや他のサイトに過去にアクセスした際の情報に基づいて広告を配信します。</li> -->
        </ul>

        <h2>アクセス解析ツールについて</h2>
        <p>当サイトでは、アクセス解析ツール「Google Analytics」を利用しています。「Google Analytics」はトラフィックデータの収集のためにCookieを使用しています。このトラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>
        <p>この機能はCookieを無効にすることで収集を拒否することができますので、ご利用のブラウザ設定をご確認のうえ、拒否設定を行ってください。ブラウザ用の Google Analyticsオプトアウトアドオンの利用については<a href="https://tools.google.com/dlpage/gaoptout/">こちら</a>を参照してください。</p>
    </div>
  </div>
</div>

{% endblock %}
