{% extends "layout.html" %}

{% block content %}
<div class="container p-0">
  <p class="lead">リストに入れる人を選んでください。</p>
<!-- mutual_listはname, screen_name, iconのURL, user_id -->
{% for name, screen_name, icon_url, user_id in mutual_list %}
  {% if loop.first == True or (loop.index - 1) % 2 == 0 %}
    <div class="row my-3 justify-content-around">
  {% endif %}
    <div class="col-md-5 card border-info mb-3 p-0">
      <div class="row card-body py-1 px-1">
        <div class="col-2 align-self-center">
          <img src="{{icon_url}}" alt="">
        </div>

        <div class="col-10 text-right text-nowrap">
          {{name}}<br>
          (<a href="https://twitter.com/intent/user?screen_name={{screen_name}}">@{{screen_name}}</a>)
        </div>
      </div>
      <div class="row m-0">
        <div class="col user_select_button btn btn-outline-primary btn-block p-0" aria-pressed="false" data-toggle="buttons">
          <form action="/message_and_date" method="POST">
            <input class="form-check-input" type="checkbox" name="user_select" value="{{user_id}}"><label for="user_select" onclick="">会いたい</label>
        </div>
      </div>
    </div>
    {% if loop.index % 2 == 0 %}
      </div>
    {% endif %}
    {% endfor %}
    <div class="w-100"></div>
</div>
<div class="row text-right">
  <div class="col">
    <input type="submit" class="btn btn-lg btn-outline-primary" name="submit" value="次へ">
  </div>
</div>

{% endblock %}
