{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row mt-3">

    <div class="col-md-6">

      <h3>招待リスト</h3>
      {% for name, screen_name, icon_url, user_id in selected_followers %}
      <div class="card border-info mb-2">
        <div class="user_info card-body p-0">
          <img src="{{icon_url}}" alt="user_image">
          {{name}}(<a href="https://twitter.com/intent/user?screen_name={{screen_name}}">@{{screen_name}}</a>)
        </div>
      </div>


      {% endfor %}
    </div>
    <div class="col-md-6 pt-3 align-self-center">

      <h3 class="invisible"></h3>
      <div class="col card border-dark mb-3 p-0">
        <div class="card-header">この招待状の期限</div>
        <div class="card-body">
            {{ expiration_date }} 23:59:59
        </div>
      </div>

        <div class="col card border-dark mb-3 p-0">
          <div class="card-header">招待文</div>
          <div class="card-body">
              {{ invite_message }}
          </div>
        </div>

        <div class="col card border-dark mb-3 p-0">
          <div class="card-header">あなたに会いたいと思っている人</div>
            <div class="card-body">
            {% if mutual_wanna_meet_list %}
              {{ mutual_wanna_meet_list }}
            {% else %}
              まだいないようです。
            {% endif %}
            </div>
        </div>

        {% if decline_message != "no_message" %}
        <div class="col card border-dark mb-3 p-0">
          <div class="card-header">リストに入っていなかった人に表示されるメッセージ</div>
          <div class="card-body">
            {{ decline_message }}
          </div>
        </div>
        {% endif %}

          <form class="destroy_invitation" action="/destroy_invitation/{{user_id}}" method="GET">
        <button type="submit" class="btn btn-danger float-right">招待状を破棄する</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
