{% extends "layout.html" %}
{% block content %}
<h3>{{message}}</h3>

{% if message == "ログインしていません" %}

  <p>ボタンをクリックしてログイン↓</p>
  <form class="" action="/twitter/request_token" method="GET">
    <button type="submit" class="btn">ログインする</button>
  </form>

{% else %}
  {% if exists_invitation == True %}

    <form class="" action="/show_status/{{session["user_id"]}}" method="GET">
      <button type="submit" class="btn">招待の状況を確認する</button>
    </form>

  {% else %}

    <form class="" action="/make_invitations" method="GET">
      <button type="submit" class="btn">招待状を作成する</button>
    </form>

  {% endif %}

  <!-- TODO: 招待状のあるフォロワーリスト画面を挟む -->
  {% if session.get("host_id") %}
    <form class="" action="/invitation/{{session["host_id"]}}" method="GET">
      <button type="submit" class="btn">フォロワーの招待に乗る</button>
    </form>
  {% endif %}

{% endif %}


{% endblock %}
