{% extends "layout.html" %}
{% block content %}
<h3>{{message}}</h3>

{% if message == "ログインしていません" %}

  <p>ボタンをクリックしてログイン↓</p>
  <form class="" action="/twitter/request_token" method="GET">
    <button type="submit" class="btn">ログインする</button>
  </form>

{% else %}
  {% if exists_invitation == True %}

    <form class="" action="/show_status/{{session["user_id"]}}" method="GET">
      <button type="submit" class="btn">招待の状況を確認する</button>
    </form>

  {% else %}

    <form class="" action="/select_users" method="GET">
      <button type="submit" class="btn">招待状を作成する</button>
    </form>

  {% endif %}

  <form class="" action="/show_invitations_list" method="GET">
    <button type="submit" class="btn">招待状のある相互フォロワーを確認する</button>
  </form>

  <form class="" action="/delete_session" method="POST">
    <button type="submit" class="btn">ログアウトする</button>
  </form>

{% endif %}


{% endblock %}
